<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        <%= currentApplication.title %>
    </title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>
        <h1>
            <%= currentApplication.title %> at <%= currentApplication.company %>
        </h1>
        <% if (currentApplication.notes) { %>
            <p>Notes: <%= currentApplication.notes %></p>
        <% } %>
        <% if (currentApplication.postingLink) { %>
            <a target="_blank" href="<%= currentApplication.postingLink %>">View job posting</a>
        <% } %>
        
        <p>Current Status: <%= currentApplication.status %></p>
            
        <form action="/users/<%= user._id %>/applications/<%= currentApplication._id %>/edit" method="get">
            <button type="submit">Edit this application</button>
        </form>        
        
        <form action="/users/<%= user._id %>/applications/<%= currentApplication._id %>?_method=DELETE" method="POST">
            <button type="submit">Delete this application</button>
        </form>

</body>

</html>